* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  position: relative;
}

html,
body {
  min-height: 100%;
}

ul {
  list-style: none;
}

img {
  user-select: none;
}

/* ============================================================= */

.App {
}
.TodoTitle {
  display: flex;
  justify-content: space-between;
}

h1 {
  color: white;
  letter-spacing: 1rem;
}
